/* Imposta la dimensione e la posizione dell'immagine di sfondo su tutto il body */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%; /* Imposta l'altezza al 100% della finestra del browser */
  overflow: hidden; /* Impedisce l'overflow nella pagina */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Larghezza dell'intera finestra */
  height: 100vh; /* Altezza dell'intera finestra */
  background-image: url("/background.png"); /* Immagine di sfondo */
  background-size: cover; /* L'immagine coprirà tutto lo schermo */
  background-position: center; /* Centra l'immagine */
  background-attachment: fixed; /* Mantiene lo sfondo fisso mentre si scorre la pagina */

  color: white; /* Colore del testo bianco per contrasto */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay semitrasparente */
}

.content {
  position: relative;
  z-index: 1; /* Assicura che il contenuto sia sopra l'overlay */
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
}
